@import '@/styles/colors';

.MenuButton {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 224px;
	height: 40px;
	border-radius: 8px;
	color: $system-white-color;
	background-color: $brand-main-color;
	transition: 0.5s;

	svg {
		transition: 0.5s;
	}
}

.MenuButtonActive {
	background-color: $brand-hover-color;

	svg {
		rotate: 135deg;
	}
}

.MenuButton:hover {
	background-color: $brand-hover-color;
}

@media screen and (max-width: 1024px) {
	.MenuButton {
		width: 40px;

		span {
			display: none;
		}
	}
}
