{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "useTabs": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "importOrder": [
    "^@/pages/(.*)$",
    "^@/generic/(.*)$",
    "^@/components/(.*)$",
    "^@/context/(.*)$",
    "^@/providers/(.*)$",
    "^@/services/(.*)$",
    "^@/assets/(.*)$",
    "^@/types/(.*)$",
    "^@/hooks/(.*)$",
    "^@/utils/(.*)$",
    "^@/store/(.*)$",
    "^@/styles/(.*)$",
    "^@/vars/(.*)$",
    "^[./]",
    "(.scss)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}