@import '@/styles/colors';

.FAQ {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;

	padding: 16px 32px;
	border-radius: 8px;
	background-color: $system-white-color;

	cursor: pointer;
}

.FAQAnswer {
	display: none;
	transition: 0.4s ease-out;
}

.CursorText {
	cursor: text;
}

.FAQIcon > * {
	transition: 0.4s ease-out;
}

.FAQOpened {
	.FAQAnswer {
		display: block;
	}

	.FAQIcon > * {
		rotate: 135deg;
	}
}

.FAQHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;

	width: 100%;
}

.FAQButtons {
	display: flex;
	align-items: center;
	gap: 16px;
}

@media screen and (max-width: 360px) {
	.FAQ {
		padding: 16px;
	}
}

//Darkmode

.FAQDark {
	background-color: $background-secondary-dark-color;
	color: $system-white-color;
}
