@import '../../styles/colors';

.Teammate {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 8px;
	overflow: hidden;
	background-color: $system-white-color;
}

.TeammateInfo {
	width: 100%;
	padding: 8px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.TeammateName {
	color: $brand-main-color;
}

.TeammateJob {
}

//Darkmode

.TeammateDark {
	background-color: $background-secondary-dark-color;

	.TeammateJob {
		color: $system-white-color;
	}
}
