//Fonts
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&family=Ubuntu&display=swap');

.LessonTextEditor,
#LessonTextEditor {
	//Global
	* {
		line-height: 1.2;
		font-size: inherit;
	}

	.ql-editor::grammar-error {
		text-decoration: none;
		color: red;
	}

	//Text sizes
	.ql-size-extra-small {
		font-size: 14px;
	}

	.ql-size-small {
		font-size: 16px;
	}

	p {
		font-size: 18px;
	}

	.ql-size-large {
		font-size: 22px;
	}

	//Headline
	h1 {
		font-size: 42px;
	}

	h2 {
		font-size: 38px;
	}

	h3 {
		font-size: 34px;
	}

	h4 {
		font-size: 30px;
	}

	h5 {
		font-size: 26px;
	}

	h6 {
		font-size: 22px;
	}

	//Lists
	li {
		font-size: 16px;

		&::before {
			font-size: 16px;
		}
	}

	//Fonts
	p {
		font-family: 'PT Sans';
		font-style: normal;
	}

	.ql-font-arial {
		font-family: 'Arial';
		font-style: normal;
	}

	.ql-font-helvetica {
		font-family: 'Helvetica';
		font-style: normal;
	}

	.ql-font-ubuntu {
		font-family: 'Ubuntu';
		font-style: normal;
	}

	.ql-font-roboto {
		font-family: 'Roboto';
		font-style: normal;
	}

	//Code
	pre {
		border-radius: 3px;
		white-space: pre-wrap;
		padding: 5px 10px;
		overflow: visible;
		color: #f8f8f2;
		background-color: #23241f;
	}

	//Blockquote
	blockquote {
		margin: 5px 0;
		padding-left: 16px;
		line-height: 1.2;
		font-size: inherit;
		border-left: 4px solid #ccc;
	}

	//text align
	.ql-align-center {
		text-align: center;
	}

	.ql-align-right {
		text-align: right;
	}

	.ql-align-justify {
		text-align: justify;
	}

	//image
	img {
		max-width: 100%;
	}
}
