//H1
.H1Bold {
  font-size: 64px;
  line-height: 150%;
  font-weight: bold;
}

.H1Regular {
  font-size: 64px;
  line-height: 150%;
  font-weight: normal;
}

//H2
.H2Bold {
  font-size: 48px;
  line-height: 150%;
  font-weight: bold;
}

.H2Regular {
  font-size: 48px;
  line-height: 150%;
  font-weight: normal;
}

//H3
.H3Bold {
  font-size: 40px;
  line-height: 150%;
  font-weight: bold;
}

.H3Regular {
  font-size: 40px;
  line-height: 150%;
  font-weight: normal;
}

//H4
.H4Bold {
  font-size: 40px;
  line-height: 150%;
  font-weight: bold;
}

.H4Regular {
  font-size: 40px;
  line-height: 150%;
  font-weight: normal;
}

//H5
.H5Bold {
  font-size: 24px;
  line-height: 150%;
  font-weight: bold;
}

.H5Regular {
  font-size: 16px;
  line-height: 150%;
  font-weight: normal;
}

//H6
.H6Bold {
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
}

.H6Regular {
  font-size: 16px;
  line-height: 150%;
  font-weight: normal;
}

//Titles
.TitleBold {
  font-size: 24px;
  line-height: 150%;
  font-weight: bold;
}

.TitleRegular {
  font-size: 24px;
  line-height: 150%;
  font-weight: normal;
}

//Captions
.Body1Regular {
  font-size: 16px;
  line-height: 150%;
  font-weight: normal;
}

.Body1Medium {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

.Body2Regular {
  font-size: 16px;
  line-height: 150%;
  font-weight: normal;
}

.Body2Medium {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

//Captions
.Caption1Regular {
  font-size: 12px;
  line-height: 120%;
  font-weight: normal;
}

.Caption1Medium {
  font-size: 12px;
  line-height: 120%;
  font-weight: 500;
}

.Caption2Regular {
  font-size: 10px;
  line-height: 120%;
  font-weight: normal;
}

.Caption2Medium {
  font-size: 10px;
  line-height: 120%;
  font-weight: 500;
}

//Buttons
.ButtonLarge {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.03em;
}

.ButtonSmall {
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.03em;
}
